@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
}

body{
  background: url('imagens/fundo.png'); 
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section#telefone {
  background: url(imagens/iphone.png);
  position: absolute;
  top: 45%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 240px;
  height: 500px;
}

section#redes{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  
  display: flex;
}
section#redes img{
  width: 50px;
  margin: 8px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
  transition: transform 0.3s ease;
}

section img:hover{
  transform: scale(1.4);
  box-shadow: 5px 5px 10px black;
  outline: 2px solid white;
}
iframe{
  position: relative;
  top: 6px;
  left: 7px;
  width: 225px;
  height: 485px;
  border-radius: 37px;
}